body{
    padding:0;
    margin: 0;
    background-color: #f5f5f5;
    overflow: auto;
    font-family: 'Roboto' , sans-serif;
    scroll-behavior: smooth;
    
}



.nav-text{
    padding:10px;
    font-size: 0.8rem;
    font-weight: 500;
}

.navbar-link{
    color: black;
    text-decoration: none;
    padding:10px;
    font-size: 0.8rem;
    font-weight: 500;
}


.navbar-link:hover{
    color: #3944F7;
}

.active{
    color: #3944F7;
}

.about-bg{
    background-color: #e9e9e9;
   
    max-width: 1480px;
}

.footer{
    background: #121212 ;
}



::-webkit-scrollbar
{
	width: 6px;
	
}

::-webkit-scrollbar-thumb
{
	background-color: black;
}

.about-heading{
    font-weight: 600;
    font-size: 2rem;
}

.about-para{
    font-weight: 400;
    font-size: 1rem;
}

.footer-heading{
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

.footer-para{
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.footer-social-icon{
    color: white;
    font-size: 1.5rem;
    margin: 8px;
}
.footer-social-icon:hover{
    color: #CAD5E2;
    
}

.form-control{
    margin: 13px;
    background-color: #323b3f;
    border: 0;
    color: white;
    
}

.form-control:focus{
    background-color: #323b3f;
}

.form-btn{
    background-color: #283033;
    color: white;
    padding: 10px;
}

.form-btn:hover{
    color: white;
    box-shadow: black;
    
}

.post-heading{
    font-weight: 600;
    font-size: 2rem;
    color: white;
    margin: 10px;
    margin-left: 30px;
}
.post-para{
    font-weight: 400;
    font-size: 1rem;
    color: white;
    margin: 10px;
    margin-left: 30px;
}

.post-container{
    position: relative;
}
.post-content{
    position: absolute;
    bottom: 60px;
    display: none;
    
}

.post-container:hover .home-img{
    opacity: 0.6;
}

.post-container:hover .post-content{
    display: block;
}
.post-container:hover .post-no{
    display: block;
}

.post-no{
    position: absolute;
    top:30px;
    display: none;
}

.preloader{
    width: 100%;
    height: 100vh;
    background-color: #e9e9e9;
    position: fixed;
    z-index: 9999;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #3944F7;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
